body {
    background: #2a2e36;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #2266d4;
}

#bodyWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.optionsOutline {
    height: 500px;
    width: 300px;
    background-color: #2f333a;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #121212 solid 5px;
}

.buttonOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    width: 225px;
    height: 50px;
    color: #2266d4;
    border: #2266d4 solid 5px;
    border-radius: .5rem;
    background-color: #2f333a;
    margin-top:30px;
}

#gridMain {
    color: white;
    display: grid;
    background-color: #2f333a;
    border: #121212 solid 5px;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.gridPiece {
    height: auto;
    width: auto;
    border: #121212 solid 1px;
}