body {
    background: #2a2e36;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #2266d4;
}

#bodyWrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

}
.optionsOutline {
    height: 1000px;
    width: 500px;
    background-color: #2f333a;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #121212 solid 5px;
}

.colorPickerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.color-indicator {
    width:200px;
    height:200px;
    background-color: #ffff;
    border-radius: 10px;
    margin-top: 10px;
}

.buttonOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 400px;
    height: 100px;
    color: #2266d4;
    border: #2266d4 solid 5px;
    border-radius: .5rem;
    background-color: #2f333a;
    margin-top:30px;
    font-size: 25px;
    cursor: pointer;
    --border-size: 2px;
    transition: 0.3s;
}


.button:hover {
    color: white; 
    background-color: #2266d4;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

.active {
    color: white; 
    background-color: #2266d4;
}


#gridMain {
    color: white;
    display: grid;
    background-color: #2f333a;
    border: #121212 solid 5px;
    height: 1000px;
    width: 1000px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.gridPiece {
    height: auto;
    width: auto;
}

.sliderBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2266d4;
    margin-top: 30px;
    font-size: 30px;
    width:450px;
}

.slider {
    width: 100%;
    margin-top: 10px;
}


input[type = 'range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #121212;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#value{
    margin-top:20px;
}